<html>
<head>
    <title>画图</title>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/p5.js/0.6.0/p5.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
</head>
<style>
    canvas{
        border: dashed 1px grey;
    }
    .selected:{
        background: greenyellow;
    }
    body{
        min-width:650px;
    }
</style>
<body>
<div id="mtp">
    <div>
        当前图片:{{current.replace('.json','')}}
        <el-button @click="clean">清空</el-button>
        <el-button @click="save">保存</el-button>
    </div>

    <div style="float:right; width:300px">
        <div>
            <el-input style="width:100px" v-model="addinput"></el-input>
            <el-button @click="add">添加</el-button>
        </div>
        <span v-for="name in namelist" :class="{'selected':name==current}" @click="select(name)" style="cursor: pointer">
            <el-tag>
                {{name.replace('.json','')}}
            </el-tag>
        </span>

    </div>
</div>
<script>
    function setup() {
        createCanvas(320, 480);
        stroke(0);
        frameRate(60);
    }
    var dots = [];
    function draw() {
        if(mouseIsPressed){
            if(dots.length==0){
                dots.push({mouseX:mouseX,mouseY:mouseY})
            }else{
                var last = dots[dots.length-1]
                if (last != ''){
                    line(dots[dots.length-1].mouseX, dots[dots.length-1].mouseY, mouseX, mouseY);
                }
                if(last.mouseX != mouseX && last.mouseY != mouseY){
                    dots.push({mouseX:mouseX,mouseY:mouseY})
                }
            }
        }
    }
    function mousePressed() {
        dots.push('')
    }
    var vm=new Vue({
        el:'#mtp',
        data:{
            namelist:[],
            current:"",
            addinput:'',
        },
        mounted:()=>{
            setTimeout(function () {
                vm.load()
            },500)
        },
        methods:{
            redraw:function(){
                fetch('/draw/'+vm.current).then(function(res){
                    res.json().then(function(obj){
                        if(!obj.length) return
                        background(255)
                        clear()
                        for (var i=0; i<obj.length-1; i++){
                            console.log(obj[i].mouseX,  obj[i].mouseY, obj[i+1].mouseX,obj[i+1].mouseY)
                            line(obj[i].mouseX,  obj[i].mouseY, obj[i+1].mouseX,obj[i+1].mouseY)
                        }
                    })
                })
            },
            select:function(name){
                vm.current=name
                vm.redraw();
            },
            load:function(){
                fetch('/list',{
                    method:"POST",
                    credentials: 'include',
                    headers: { 'Accept': 'application/json','Content-Type':'application/json'},
                }).then(function(res){
                    res.json().then(function(obj){
                        vm.namelist = obj.info
                    })
                })
            },
            save:function(){
                if (!vm.current )return
                fetch('/save',{
                    method:"POST",
                    credentials: 'include',
                    headers: { 'Accept': 'application/json','Content-Type':'application/json'},
                    body:JSON.stringify({
                        name:vm.current,
                        content:JSON.stringify(dots)
                    })
                }).then(function(res){
                    res.json().then(function(obj){

                    })
                })
            },
            add:function(){
                if(!vm.addinput) return;
                fetch('/save',{
                    method:"POST",
                    credentials: 'include',
                    headers: { 'Accept': 'application/json','Content-Type':'application/json'},
                    body:JSON.stringify({
                        name: vm.addinput+'.json',
                        content:'[]'
                    })
                }).then(function(res){
                    res.json().then(function(obj){
                        vm.current=''+vm.addinput
                        vm.load()
                        vm.addinput = ''
                    })
                })
            },
            clean:function () {
                dots=[]
                background(255)
            }
        }

    })
</script>

</body>
</html>